* {
  box-sizing: border-box;
}

:root {
  --text-colour: #c0bfbf;
  --background-colour: #131218;

  /* Define Material Design color tokens */
  --md-sys-color-primary: #cf9f45; /* Primary color */
  --md-sys-color-primary-container: #cf9f45; /* Primary color */
  --md-sys-color-on-primary: var(--text-colour); /* Text color on primary */

  --md-sys-color-secondary: #cf9f45; /* Secondary color */
  --md-sys-color-secondary-container: #cf9f45; /* Primary color */
  --md-sys-color-on-secondary: #000000; /* Text color on secondary */

  --md-sys-color-surface: var(
    --background-colour
  ); /* Background surface color */
  --md-sys-color-surface-container: var(
    --background-colour
  ); /* Background surface color */
  --md-sys-color-on-surface: var(--text-colour); /* Text color on surface */

  --md-sys-color-background: #131218; /* Background color */
  --md-sys-color-on-background: var(
    --text-colour
  ); /* Text color on background */

  --md-sys-color-error: #df5555;
  --md-sys-color-error-container: #df5555;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-primary);
}

/* body {
  background-color: #131218;
  color: #c0bfbf;
} */

#releaseNotesForm {
  display: grid;
  grid-template-columns: 1fr;

  gap: 10px;
  padding: 10px 20px;

  h1,
  small {
    text-align: center;
    margin-bottom: 0;
  }
}
