* {
  box-sizing: border-box;
}

:root {
  --text-colour: #c0bfbf;
  --background-colour: #131218;
  --background-high-colour: #2d2316;

  /* Define Material Design color tokens */
  --md-sys-color-primary: #cf9f45; /* Primary color */
  --md-sys-color-primary-container: #cf9f45; /* Primary color */
  --md-sys-color-on-primary: var(--text-colour); /* Text color on primary */

  --md-sys-color-secondary: #cf9f45; /* Secondary color */
  --md-sys-color-secondary-container: #cf9f45; /* Primary color */
  --md-sys-color-on-secondary: #000000; /* Text color on secondary */

  --md-sys-color-surface: var(
    --background-colour
  ); /* Background surface color */
  --md-sys-color-surface-container-high: var(
    --background-high-colour
  ); /* Background surface color */
  --md-sys-color-surface-container: var(
    --background-colour
  ); /* Background surface color */
  --md-sys-color-on-surface: var(--text-colour); /* Text color on surface */
  --md-sys-color-on-surface-variant: #dfdfdf; /* Text color on surface variant */

  --md-sys-color-background: #131218; /* Background color */
  --md-sys-color-on-background: var(
    --text-colour
  ); /* Text color on background */

  /* Component tokens */
  --md-dialog-container-shape: 0px;

  --md-sys-color-error: #a32828;
  --md-sys-color-error-container: #a32828;

  /* Define typography tokens */
  --md-sys-typescale-body-large-font: 'Roboto', sans-serif;
  --md-sys-typescale-body-large-size: 16px;
  --md-sys-typescale-body-large-weight: 400;
  --md-sys-typescale-body-large-line-height: 1.5;

  --md-sys-typescale-title-large-font: 'Roboto', sans-serif;
  --md-sys-typescale-title-large-size: 24px;
  --md-sys-typescale-title-large-weight: 700;
  --md-sys-typescale-title-large-line-height: 1.3;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-primary);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

md-icon {
  --md-icon-font: 'Material Symbols Rounded';
  justify-self: flex-end;
  cursor: pointer;
}

.flatpickr-calendar {
  * {
    background-color: var(--background-high-colour) !important;
    color: var(--md-sys-color-on-surface) !important;
    fill: var(--md-sys-color-on-surface);
  }

  border: 1px solid var(--background-high-colour) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
  &::before,
  &::after {
    border-bottom-color: var(--background-high-colour) !important;
  }
  .arrowUp::after,
  .arrowDown::after {
    border-top-color: var(--md-sys-color-on-surface) !important;
    border-bottom-color: var(--md-sys-color-on-surface) !important;
  }
  .flatpickr-current-month {
    padding-top: 3px;
  }
  .inRange {
    background: var(--md-sys-color-on-surface) !important;
    border-color: var(--md-sys-color-on-surface) !important;
    color: var(--background-colour) !important;
    box-shadow: none;
  }
  .startRange,
  .endRange {
    background: var(--md-sys-color-primary) !important;
    border-color: var(--md-sys-color-primary) !important;
    color: var(--background-colour) !important;
  }
}

#releaseNotesForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr repeat(10, auto) 1fr;

  height: 100%;

  gap: 10px;
  padding: 10px 20px;

  h1,
  small {
    text-align: center;
    margin-bottom: 0;
  }

  small {
    margin-bottom: 20px;
  }

  md-filled-tonal-button {
    margin-top: 10px;
    justify-self: flex-end;
    width: 100%;
  }

  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr repeat(8, auto) 1fr;
    max-width: 600px;

    h1,
    small,
    md-filled-tonal-button,
    #organisation,
    #pat,
    #title,
    #dateRange,
    md-icon {
      grid-column: 1 / span 2;
    }
  }
}

#settingsForm {
  border-radius: 10px;
  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto) 1fr;
    gap: 10px;

    h4 {
      padding: 0;
      margin: 0;
    }
  }
}

/* TOAST START */

.toast-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: var(--md-sys-typescale-body-large-size);
  font-family: var(--md-sys-typescale-body-large-font);
  font-weight: var(--md-sys-typescale-body-large-weight);
  line-height: var(--md-sys-typescale-body-large-line-height);
  opacity: 0;
  animation: fadeInOut 4s ease-in-out forwards;

  &.error {
    background-color: var(--md-sys-color-error);
    color: var(--md-sys-color-on-surface);
  }

  &.success {
    background-color: #118a11;
    color: var(--md-sys-color-on-surface);
  }
  &.warning {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-surface);
  }
}

/* Toast animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* TOAST END */

@keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}
